############# begin Atlas config section ##########
--noNimblePath
--path:"deps/jsony/src"
--path:"deps/illwill"
--path:"deps/nimib/src"
--path:"deps/karax"
--path:"deps/fusion"
--path:"deps/mustache"
--path:"deps/markdown"
--path:"deps/parsetoml"
############# end Atlas config section   ##########
